# Just for Alex

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
app_events = pd.read_csv('data/app_events.csv', nrows = 1000000)
brand_df = pd.read_csv('data/phone_brand_device_model.csv')
label_categories = pd.read_csv('data/label_categories.csv')
app_labels = pd.read_csv('data/app_labels.csv')
events = pd.read_csv('data/events.csv', nrows = 1000000)
gender_age_train = pd.read_csv('data/gender_age_train.csv')
gender_age_test = pd.read_csv('data/gender_age_test.csv')

In [7]:
# have a peek at these dataframes
display("app_events")
display(app_events.head())
display("brand_df")
display(brand_df.head())
display("label_categories")
display(label_categories.head())
display("app_labels")
display(app_events.head())
display("events")
display(events.head())
display("gender_age_train")
display(gender_age_train.head())
display("gender_age_test")
display(gender_age_test.head())

'app_events'

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

'brand_df'

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

'label_categories'

   label_id           category
0         1                NaN
1         2     game-game type
2         3   game-Game themes
3         4     game-Art Style
4         5  game-Leisure time

'app_labels'

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

'events'

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

'gender_age_train'

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

'gender_age_test'

             device_id
0  1002079943728939269
1 -1547860181818787117
2  7374582448058474277
3 -6220210354783429585
4 -5893464122623104785