In [ ]:
# added a parse_dates line for events df when importing so we don't have to do that separately:

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
from tqdm import tqdm, trange

Here we import the data from the appropiate folder. This is different for the two members of the team so we wrapped it in a try block to account for this difference.

In [22]:
try:
    app_events = pd.read_csv('../talkingdata_DATA/app_events.csv')
    brand_df = pd.read_csv('../talkingdata_DATA/phone_brand_device_model.csv')
    label_categories = pd.read_csv('../talkingdata_DATA/label_categories.csv')
    app_labels = pd.read_csv('../talkingdata_DATA/app_labels.csv')
    events = pd.read_csv('../talkingdata_DATA/events.csv', parse_dates=['timestamp'])
    gender_age_train = pd.read_csv('../talkingdata_DATA/gender_age_train.csv')
    gender_age_test = pd.read_csv('../talkingdata_DATA/gender_age_test.csv')
except FileNotFoundError:
    app_events = pd.read_csv('data/app_events.csv', nrows = 1000000)
    brand_df = pd.read_csv('data/phone_brand_device_model.csv')
    label_categories = pd.read_csv('data/label_categories.csv')
    app_labels = pd.read_csv('data/app_labels.csv')
    events = pd.read_csv('data/events.csv', parse_dates=['timestamp'], nrows = 1000000)
    gender_age_train = pd.read_csv('data/gender_age_train.csv')
    gender_age_test = pd.read_csv('data/gender_age_test.csv')

In [27]:
#brand_df = pd.read_csv('../talkingdata_DATA/phone_brand_device_model.csv')

To get a feeling of how the data is structured we show the first rows for each dataframe

In [4]:
display(gender_age_train.head()) # want to predict group, involves multiclass classification

             device_id gender  age   group
0 -8076087639492063270      M   35  M32-38
1 -2897161552818060146      M   35  M32-38
2 -8260683887967679142      M   35  M32-38
3 -4938849341048082022      M   30  M29-31
4   245133531816851882      M   30  M29-31

In [5]:
display(app_events.head()) # event_id corresponds to that in events dataframe

   event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1
1         2 -5720078949152207372             1          0
2         2 -1633887856876571208             1          0
3         2  -653184325010919369             1          1
4         2  8693964245073640147             1          1

In [6]:
display(events.head())
display(brand_df.head())

   event_id            device_id           timestamp  longitude  latitude
0         1    29182687948017175 2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744 2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721 2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426 2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570 2016-05-01 00:07:18     115.88     28.66

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

### Clean phone brand dataframe (brand_df)

In [9]:
display(brand_df.head()) # dataframe pre-cleanup

             device_id phone_brand   device_model
0 -8890648629457979026          小米             红米
1  1277779817574759137          小米           MI 2
2  5137427614288105724          三星      Galaxy S4
3  3669464369358936369       SUGAR           时尚手机
4 -5019277647504317457          三星  Galaxy Note 2

As part of the cleanup we drop possible duplicate entries and (ALEX: dont fully understand whats happening here with the reset_index)

KATHERINE's explanation (can remove once understood)
    1. drop the duplicates in phone brand column to get only unique values, but then want consecutive values associated with each brand, so reset index with drop=True just resets the index and doesn't keep the old one, then the second reset_index() call changes that new consecutive index into a column (easier to use a column than the index itself sometimes)
    2. Set the index which we turned into a column to be titled phone_brand_id, giving us a df with consecutive values associated with each brand (could be a simpler way to do this with set or list, but this worked fine)

In [28]:
# dictionary of brand categories and their associated numbers/indices
brand_categories = brand_df[['phone_brand']].drop_duplicates().reset_index(drop=True).reset_index()
brand_categories = brand_categories.rename(columns = {'index': 'phone_brand_id'})

In [29]:
device_categories = brand_df[['device_model']].drop_duplicates().reset_index(drop=True).reset_index()
device_categories = device_categories.rename(columns = {'index':'device_model_id'})
# want a number for each phone-brand, not chinese name

In [30]:
# want a number for each phone-brand, not chinese name
brand_df = brand_df.merge(brand_categories, on='phone_brand')
brand_df = brand_df.merge(device_categories, on='device_model')
brand_df.drop(['device_model','phone_brand'], inplace=True, axis=1)
#brand_df.sort_values('device_id', inplace=True)

In [31]:
display(brand_df.head())

             device_id  phone_brand_id  device_model_id
0 -8890648629457979026               0                0
1  3933889243973057197               0                0
2  3379712123596745643               0                0
3 -5817422246078672037               0                0
4 -5926490704406813688               0                0

In [33]:
# Look at breakdown of top 5 phone brands: 'Proportion' represents the proportion of total devices that belong
# to that particular phone brand
phone_brand_counts = brand_df.phone_brand_id.value_counts(normalize=True).rename_axis(
    'phone_brand_id').reset_index(name='proportion').merge(brand_categories,
                                                       on='phone_brand_id')
phone_brand_counts.head(5) # top 10 phone brands

   phone_brand_id  proportion phone_brand
0               0    0.230767          小米
1               1    0.183108          三星
2               3    0.173911          华为
3               4    0.076878        vivo
4               8    0.076312        OPPO

### App Labels: Put into subcategories

In [40]:
import spacy
# Load the spacy model that you have installed - for pre-trained word embeddings
# if NOT downloaded, run command: python -m spacy download en_core_web_sm
nlp = spacy.load('en_core_web_md')

In [77]:
# determine important label_categories
app_category_ls = list(label_categories.category)
# possibly subcategorize into games, comic, shopping, education, banking/finance, travel
print('There are ', len(app_category_ls), 'app labels in label_categories dataframe')

# get all unique values in list of app labels: 
category_ls = list(set(app_category_ls))
print('There are ', len(category_ls), 'unique app labels')

There are  930 app labels in label_categories dataframe
There are  836 unique app labels

In [78]:
# Preprocessing of category list: 

# remove nan value and convert to df:
category_df = pd.DataFrame([word for word in category_ls if type(word) == str], columns =['labels'])

# remove all labels that have to do with games: 
category_ls = list(category_df[~category_df['labels'].str.contains("game|poker|Game|majiang", na=False)].labels)
category_ls.append('game') # convert back to list and append string with game to encompass all games

In [108]:
# create new column for revised versions of the labels
category_df['revised_labels'] = category_df.labels

# put the revised label names in a dataframe with original label names (e.g. all those involving game are just game)
category_df.loc[category_df['revised_labels'].str.contains('game|poker|Game|majiang|chess', 
                                                           case=False), 'revised_labels'] = 'game'

# fix all the mispelled/not recognized labels
category_df.loc[category_df.labels == 'communitation','revised_labels'] = 'communication'
category_df.loc[category_df.labels == 'mesasge','revised_labels'] = 'message'

category_df.loc[category_df.labels.str.contains('operatior'),'revised_labels'] = 'operator'
category_df.loc[category_df.labels.str.contains('managemetn'),'revised_labels'] = 'class management'
category_df.loc[category_df.labels.str.contains(r'paid\d+$'),'revised_labels'] = 'paid'

In [128]:
# predefined categories
category_subsets = ['shopping','travel','entertainment','food','comic','education',
                    'media','finance','family','technology','other']

# go through and assign each label a category using nlp

category_assigns = []
for i,category in enumerate(list(category_df.revised_labels)):
    similarity = dict(zip(category_subsets, [0]*len(category_subsets)))
    tokens = nlp(category)
    for word in tokens:
        if(word and word.vector_norm):
            for subset in category_subsets:
                similarity[subset] += word.similarity(nlp(subset))
        else: 
            print(word, tokens)
            
    if all(elem==0 for elem in list(similarity.values())):
        category_assigns.append((category, 'other'))
    else:
        max_value= max(similarity, key=lambda key: similarity[key])
        category_assigns.append((category, max_value))

0it [00:00, ?it/s]
1it [00:00,  2.12it/s]
2it [00:00,  2.67it/s]
3it [00:00,  3.26it/s]
4it [00:01,  3.47it/s]
5it [00:01,  4.13it/s]
6it [00:01,  4.56it/s]
7it [00:02,  2.48it/s]
8it [00:02,  3.11it/s]
9it [00:02,  3.01it/s]
10it [00:03,  2.61it/s]
11it [00:03,  2.57it/s]
12it [00:03,  3.19it/s]
13it [00:04,  2.80it/s]
14it [00:04,  2.51it/s]
15it [00:04,  3.13it/s]
16it [00:04,  3.79it/s]
17it [00:05,  3.88it/s]
18it [00:05,  3.12it/s]
19it [00:05,  3.31it/s]
20it [00:06,  3.46it/s]
21it [00:06,  3.54it/s]
22it [00:06,  4.10it/s]
23it [00:06,  4.69it/s]
24it [00:06,  5.26it/s]

DS_P2P DS_P2P net loan

25it [00:07,  4.82it/s]
26it [00:07,  3.25it/s]
27it [00:07,  3.93it/s]
28it [00:07,  4.53it/s]
29it [00:08,  3.41it/s]
30it [00:08,  3.56it/s]
31it [00:08,  4.22it/s]
32it [00:08,  4.88it/s]
33it [00:09,  3.91it/s]
34it [00:09,  3.50it/s]
35it [00:09,  3.53it/s]
36it [00:10,  3.60it/s]
37it [00:10,  3.73it/s]
38it [00:10,  4.36it/s]
39it [00:10,  4.90it/s]
40it [00:10,  5.34it/s]
41it [00:10,  5.87it/s]
42it [00:11,  6.23it/s]
43it [00:11,  6.35it/s]
44it [00:11,  4.47it/s]
45it [00:11,  4.32it/s]
46it [00:12,  4.83it/s]
47it [00:12,  5.40it/s]
48it [00:12,  3.18it/s]
49it [00:13,  3.27it/s]
50it [00:13,  3.82it/s]
51it [00:13,  4.41it/s]
52it [00:13,  4.94it/s]
53it [00:13,  4.65it/s]
54it [00:13,  5.04it/s]
55it [00:14,  5.40it/s]
56it [00:14,  5.91it/s]
57it [00:14,  6.38it/s]
58it [00:14,  5.43it/s]
59it [00:14,  5.90it/s]
60it [00:15,  4.43it/s]
61it [00:15,  4.29it/s]
62it [00:15,  4.85it/s]
63it [00:15,  4.61it/s]
64it [00:16,  3.75it/s]
65it [00:16,  3.84it/s]
66it [00:16,  3.77it/s]
67it [00:16,  4.41it/s]
68it [00:16,  5.06it/s]
69it [00:17,  4.36it/s]
70it [00:17,  3.26it/s]
71it [00:17,  3.41it/s]
72it [00:18,  3.13it/s]
73it [00:18,  2.98it/s]
74it [00:18,  3.20it/s]
75it [00:19,  3.83it/s]
76it [00:19,  3.90it/s]
77it [00:19,  4.52it/s]
78it [00:19,  3.71it/s]
79it [00:20,  3.72it/s]
80it [00:20,  3.32it/s]
81it [00:20,  3.94it/s]
82it [00:21,  2.73it/s]
83it [00:22,  2.07it/s]
84it [00:22,  2.43it/s]
85it [00:22,  2.72it/s]
86it [00:22,  3.32it/s]
87it [00:23,  3.11it/s]
88it [00:23,  3.75it/s]
89it [00:23,  4.33it/s]
90it [00:23,  3.76it/s]
91it [00:23,  4.36it/s]
92it [00:24,  4.61it/s]
93it [00:24,  5.00it/s]
94it [00:24,  4.54it/s]
95it [00:25,  2.74it/s]
96it [00:25,  3.31it/s]
97it [00:25,  3.73it/s]
98it [00:25,  4.27it/s]
99it [00:25,  4.10it/s]
100it [00:26,  4.00it/s]
101it [00:26,  3.90it/s]
102it [00:26,  4.32it/s]
103it [00:26,  4.05it/s]
104it [00:27,  4.62it/s]
105it [00:27,  4.43it/s]
106it [00:27,  4.23it/s]
107it [00:27,  4.22it/s]
108it [00:27,  4.71it/s]
109it [00:28,  5.27it/s]
110it [00:28,  3.99it/s]
111it [00:28,  4.26it/s]
112it [00:29,  3.14it/s]
113it [00:29,  3.69it/s]
114it [00:29,  3.14it/s]
115it [00:29,  3.69it/s]
116it [00:30,  2.11it/s]
117it [00:31,  2.46it/s]
118it [00:31,  2.76it/s]
119it [00:31,  2.94it/s]
120it [00:31,  3.52it/s]
121it [00:32,  3.65it/s]
122it [00:32,  4.20it/s]
123it [00:32,  3.94it/s]
124it [00:32,  4.10it/s]
125it [00:33,  3.95it/s]
126it [00:33,  3.91it/s]
127it [00:33,  4.48it/s]
128it [00:33,  5.08it/s]
129it [00:33,  4.60it/s]
130it [00:34,  4.25it/s]
131it [00:34,  3.24it/s]
132it [00:34,  3.80it/s]
133it [00:34,  3.87it/s]
134it [00:35,  3.12it/s]
135it [00:35,  3.37it/s]
136it [00:35,  3.82it/s]
137it [00:36,  3.91it/s]
138it [00:36,  4.55it/s]
139it [00:36,  5.17it/s]
140it [00:36,  5.74it/s]
141it [00:36,  6.09it/s]
142it [00:36,  5.30it/s]
143it [00:37,  4.81it/s]
144it [00:37,  5.34it/s]
145it [00:37,  5.77it/s]
146it [00:37,  6.16it/s]
147it [00:38,  3.96it/s]
148it [00:38,  4.64it/s]
149it [00:38,  5.27it/s]
150it [00:38,  5.71it/s]
151it [00:38,  5.03it/s]
152it [00:38,  4.70it/s]
153it [00:39,  5.29it/s]
154it [00:39,  5.82it/s]
155it [00:39,  6.18it/s]
156it [00:39,  6.40it/s]
157it [00:39,  5.48it/s]
158it [00:39,  5.93it/s]
159it [00:39,  6.29it/s]
160it [00:40,  6.74it/s]
161it [00:40,  6.90it/s]
162it [00:40,  4.71it/s]
163it [00:40,  5.27it/s]
164it [00:40,  4.92it/s]
165it [00:41,  4.68it/s]
166it [00:41,  4.37it/s]
167it [00:41,  4.33it/s]
168it [00:41,  4.20it/s]
169it [00:42,  4.89it/s]
170it [00:42,  5.48it/s]
171it [00:42,  5.02it/s]
172it [00:42,  4.75it/s]
173it [00:42,  4.52it/s]
174it [00:43,  2.49it/s]
175it [00:44,  2.82it/s]
176it [00:44,  3.09it/s]
177it [00:44,  3.32it/s]
178it [00:44,  3.99it/s]
179it [00:44,  4.00it/s]
180it [00:45,  2.41it/s]
181it [00:45,  3.03it/s]
182it [00:46,  3.26it/s]
183it [00:46,  3.49it/s]
184it [00:46,  3.64it/s]
185it [00:46,  3.71it/s]
186it [00:46,  4.36it/s]
187it [00:47,  4.94it/s]
188it [00:47,  4.60it/s]
189it [00:47,  3.87it/s]
190it [00:48,  2.81it/s]
191it [00:48,  3.09it/s]
192it [00:48,  3.72it/s]
193it [00:48,  3.83it/s]
194it [00:49,  3.45it/s]
195it [00:49,  3.25it/s]
196it [00:49,  3.91it/s]
197it [00:49,  4.56it/s]
198it [00:50,  4.45it/s]
199it [00:50,  4.32it/s]
200it [00:50,  4.97it/s]
201it [00:50,  5.51it/s]
202it [00:50,  4.86it/s]
203it [00:51,  5.51it/s]
204it [00:51,  5.00it/s]
205it [00:51,  5.61it/s]
206it [00:51,  6.04it/s]
207it [00:51,  5.28it/s]
208it [00:51,  5.85it/s]
209it [00:52,  6.33it/s]
210it [00:52,  6.62it/s]
211it [00:52,  6.75it/s]
212it [00:52,  5.55it/s]
213it [00:52,  5.04it/s]
214it [00:53,  4.73it/s]
215it [00:53,  4.47it/s]
216it [00:53,  5.07it/s]
217it [00:53,  4.07it/s]
218it [00:53,  4.65it/s]
219it [00:54,  5.25it/s]
220it [00:54,  3.27it/s]
221it [00:54,  3.48it/s]
222it [00:55,  3.65it/s]
223it [00:55,  3.80it/s]
224it [00:55,  3.92it/s]
225it [00:55,  3.51it/s]
226it [00:56,  4.21it/s]
227it [00:56,  4.19it/s]
228it [00:56,  4.14it/s]
229it [00:56,  4.16it/s]
230it [00:56,  4.87it/s]
231it [00:57,  4.56it/s]
232it [00:57,  4.43it/s]
233it [00:57,  5.02it/s]
234it [00:57,  4.63it/s]
235it [00:57,  5.23it/s]
236it [00:58,  5.73it/s]
237it [00:58,  6.10it/s]
238it [00:58,  4.51it/s]
239it [00:58,  5.03it/s]
240it [00:59,  3.85it/s]
241it [00:59,  3.89it/s]
242it [00:59,  3.94it/s]
243it [00:59,  3.99it/s]
244it [01:00,  3.20it/s]
245it [01:00,  3.40it/s]
246it [01:00,  3.55it/s]
247it [01:01,  3.31it/s]
248it [01:01,  2.86it/s]
249it [01:01,  3.16it/s]
250it [01:02,  3.38it/s]
251it [01:02,  3.58it/s]
252it [01:02,  3.31it/s]
253it [01:03,  1.82it/s]
254it [01:04,  2.35it/s]
255it [01:04,  2.97it/s]
256it [01:04,  3.22it/s]
257it [01:04,  3.08it/s]
258it [01:04,  3.35it/s]
259it [01:05,  3.51it/s]
260it [01:05,  4.20it/s]
261it [01:05,  4.18it/s]
262it [01:05,  4.82it/s]
263it [01:05,  5.30it/s]
264it [01:06,  4.89it/s]
265it [01:06,  5.45it/s]
266it [01:06,  5.97it/s]
267it [01:06,  5.22it/s]
268it [01:06,  5.65it/s]
269it [01:07,  4.23it/s]
270it [01:07,  3.26it/s]
271it [01:07,  3.47it/s]
272it [01:08,  3.61it/s]
273it [01:08,  4.32it/s]
274it [01:08,  4.95it/s]
275it [01:08,  4.62it/s]
276it [01:08,  5.20it/s]
277it [01:09,  4.90it/s]
278it [01:09,  4.59it/s]
279it [01:09,  5.16it/s]
280it [01:09,  4.76it/s]
281it [01:10,  3.43it/s]
282it [01:10,  3.62it/s]
283it [01:10,  4.27it/s]
284it [01:10,  4.12it/s]
285it [01:11,  4.18it/s]
286it [01:11,  4.13it/s]
287it [01:11,  4.71it/s]
288it [01:11,  3.94it/s]
289it [01:12,  3.52it/s]
290it [01:12,  3.67it/s]
291it [01:12,  3.82it/s]
292it [01:12,  3.88it/s]
293it [01:13,  3.44it/s]
294it [01:13,  4.06it/s]
295it [01:13,  3.23it/s]
296it [01:13,  3.92it/s]
297it [01:14,  4.03it/s]
298it [01:14,  3.56it/s]
299it [01:14,  3.67it/s]
300it [01:14,  4.32it/s]
301it [01:15,  4.92it/s]
302it [01:15,  4.62it/s]
303it [01:15,  4.48it/s]
304it [01:15,  5.06it/s]
305it [01:15,  4.67it/s]
306it [01:16,  5.31it/s]
307it [01:16,  5.83it/s]
308it [01:16,  6.26it/s]
309it [01:16,  5.41it/s]
310it [01:16,  5.87it/s]
311it [01:16,  6.25it/s]
312it [01:16,  6.54it/s]
313it [01:17,  6.77it/s]
314it [01:17,  5.65it/s]
315it [01:17,  6.09it/s]
316it [01:17,  3.85it/s]
317it [01:18,  4.53it/s]
318it [01:18,  4.40it/s]
319it [01:18,  4.21it/s]
320it [01:18,  4.09it/s]
321it [01:19,  4.05it/s]
322it [01:19,  4.67it/s]
323it [01:19,  2.79it/s]
324it [01:20,  3.44it/s]
325it [01:20,  3.65it/s]
326it [01:20,  4.30it/s]
327it [01:20,  3.34it/s]
328it [01:21,  3.98it/s]
329it [01:21,  4.65it/s]
330it [01:21,  4.48it/s]
331it [01:21,  4.29it/s]
332it [01:22,  3.69it/s]
333it [01:22,  4.36it/s]
334it [01:22,  4.24it/s]
335it [01:22,  4.83it/s]
336it [01:22,  5.37it/s]
337it [01:23,  4.17it/s]
338it [01:23,  4.15it/s]
339it [01:24,  1.99it/s]
340it [01:24,  2.34it/s]
341it [01:25,  2.45it/s]
342it [01:25,  2.78it/s]
343it [01:25,  3.45it/s]
344it [01:25,  4.10it/s]
345it [01:25,  4.14it/s]
346it [01:26,  3.63it/s]
347it [01:26,  3.74it/s]
348it [01:26,  4.43it/s]
349it [01:26,  4.30it/s]
350it [01:26,  4.28it/s]
351it [01:27,  2.99it/s]
352it [01:27,  3.61it/s]
353it [01:27,  3.74it/s]
354it [01:28,  3.85it/s]
355it [01:28,  4.53it/s]
356it [01:28,  4.46it/s]
357it [01:28,  4.31it/s]
358it [01:28,  4.96it/s]
359it [01:29,  4.61it/s]
360it [01:29,  4.40it/s]
361it [01:29,  4.22it/s]
362it [01:29,  4.16it/s]
363it [01:30,  4.12it/s]
364it [01:30,  4.76it/s]
365it [01:30,  5.31it/s]
366it [01:30,  4.84it/s]
367it [01:30,  5.44it/s]
368it [01:30,  5.94it/s]
369it [01:31,  6.34it/s]
370it [01:31,  6.63it/s]
371it [01:31,  5.66it/s]
372it [01:31,  3.78it/s]
373it [01:32,  3.86it/s]
374it [01:32,  3.94it/s]
375it [01:32,  3.99it/s]
376it [01:32,  4.06it/s]
377it [01:33,  3.62it/s]
378it [01:33,  3.71it/s]
379it [01:33,  4.31it/s]
380it [01:33,  4.90it/s]
381it [01:34,  4.55it/s]
382it [01:34,  5.15it/s]
383it [01:34,  5.71it/s]
384it [01:34,  5.14it/s]
385it [01:34,  4.78it/s]
386it [01:35,  4.60it/s]
387it [01:35,  5.20it/s]
388it [01:35,  5.70it/s]
389it [01:35,  5.08it/s]
390it [01:35,  4.76it/s]
391it [01:36,  3.10it/s]
392it [01:36,  3.33it/s]
393it [01:36,  3.98it/s]
394it [01:36,  4.66it/s]
395it [01:37,  5.32it/s]
396it [01:37,  5.90it/s]
397it [01:37,  6.26it/s]
398it [01:37,  5.30it/s]
399it [01:37,  4.89it/s]
400it [01:38,  4.66it/s]
401it [01:38,  4.48it/s]
402it [01:38,  3.81it/s]
403it [01:38,  4.47it/s]
404it [01:39,  4.33it/s]
405it [01:39,  4.97it/s]
406it [01:39,  4.01it/s]
407it [01:39,  4.05it/s]
408it [01:39,  4.05it/s]
409it [01:40,  4.73it/s]
410it [01:40,  4.52it/s]
411it [01:40,  4.27it/s]
412it [01:40,  4.88it/s]
413it [01:40,  5.33it/s]
414it [01:41,  5.90it/s]
415it [01:41,  6.39it/s]
416it [01:41,  5.47it/s]

dotal dotal-lol

417it [01:41,  4.92it/s]
418it [01:41,  4.55it/s]
419it [01:42,  5.18it/s]
420it [01:42,  5.70it/s]
421it [01:42,  6.18it/s]
422it [01:42,  6.46it/s]
423it [01:42,  4.69it/s]
424it [01:42,  5.27it/s]
425it [01:43,  4.83it/s]
426it [01:43,  4.60it/s]
427it [01:43,  5.24it/s]
428it [01:43,  4.86it/s]
429it [01:44,  4.60it/s]
430it [01:44,  4.44it/s]
431it [01:45,  2.15it/s]
432it [01:45,  2.52it/s]
433it [01:45,  2.84it/s]
434it [01:45,  3.48it/s]
435it [01:46,  2.67it/s]
436it [01:46,  2.98it/s]
437it [01:47,  3.16it/s]
438it [01:47,  3.25it/s]
439it [01:47,  3.30it/s]
440it [01:47,  3.33it/s]
441it [01:48,  3.40it/s]
442it [01:48,  3.95it/s]
443it [01:48,  4.47it/s]
444it [01:48,  4.81it/s]
445it [01:48,  5.24it/s]
446it [01:49,  4.59it/s]
447it [01:49,  4.26it/s]
448it [01:49,  4.03it/s]
449it [01:49,  4.57it/s]
450it [01:50,  3.33it/s]
451it [01:50,  3.51it/s]
452it [01:50,  4.16it/s]
453it [01:50,  4.83it/s]
454it [01:50,  5.37it/s]
455it [01:51,  4.91it/s]
456it [01:51,  5.55it/s]
457it [01:51,  4.97it/s]
458it [01:51,  5.48it/s]
459it [01:51,  4.94it/s]
460it [01:52,  5.50it/s]
461it [01:52,  4.99it/s]
462it [01:52,  3.98it/s]
463it [01:53,  3.21it/s]
464it [01:53,  3.85it/s]
466it [01:53,  4.91it/s]

ARPG ARPG

467it [01:53,  5.41it/s]
468it [01:53,  5.86it/s]
469it [01:53,  6.37it/s]
470it [01:54,  4.54it/s]
471it [01:54,  5.14it/s]
472it [01:54,  5.69it/s]
473it [01:54,  6.13it/s]
474it [01:54,  5.27it/s]
475it [01:54,  5.86it/s]
476it [01:55,  6.37it/s]
477it [01:55,  6.68it/s]
478it [01:55,  6.91it/s]
479it [01:55,  5.76it/s]
480it [01:55,  5.05it/s]
481it [01:56,  4.73it/s]
482it [01:56,  4.51it/s]
483it [01:56,  3.41it/s]
484it [01:57,  3.60it/s]
485it [01:57,  3.75it/s]
486it [01:57,  4.44it/s]
487it [01:57,  4.36it/s]
488it [01:57,  5.03it/s]
489it [01:57,  5.51it/s]
490it [01:58,  5.03it/s]
491it [01:58,  5.63it/s]
492it [01:58,  6.18it/s]
493it [01:58,  3.85it/s]
494it [01:59,  3.94it/s]
495it [01:59,  3.57it/s]
496it [01:59,  4.26it/s]
497it [01:59,  4.88it/s]
498it [01:59,  4.59it/s]
499it [02:00,  5.27it/s]
500it [02:00,  4.82it/s]
501it [02:00,  3.19it/s]
502it [02:01,  3.87it/s]
503it [02:01,  3.98it/s]
504it [02:01,  4.01it/s]
505it [02:01,  4.65it/s]
506it [02:01,  5.27it/s]
507it [02:02,  4.88it/s]
508it [02:02,  4.01it/s]
509it [02:02,  2.85it/s]
510it [02:03,  3.52it/s]
511it [02:03,  3.69it/s]
512it [02:03,  3.83it/s]
513it [02:03,  3.94it/s]
514it [02:04,  4.02it/s]
515it [02:04,  4.07it/s]
516it [02:04,  3.55it/s]
517it [02:04,  3.69it/s]
518it [02:05,  3.86it/s]
519it [02:05,  4.00it/s]
520it [02:05,  3.60it/s]
521it [02:05,  3.67it/s]
522it [02:06,  4.37it/s]
523it [02:06,  5.05it/s]
524it [02:06,  4.71it/s]
525it [02:07,  2.21it/s]
526it [02:07,  2.80it/s]
527it [02:07,  3.08it/s]
528it [02:08,  3.34it/s]
529it [02:08,  3.18it/s]
530it [02:08,  3.84it/s]
531it [02:08,  4.46it/s]
532it [02:08,  4.42it/s]
533it [02:09,  3.38it/s]
534it [02:09,  3.16it/s]
535it [02:10,  3.38it/s]
536it [02:10,  4.07it/s]
537it [02:10,  4.12it/s]
538it [02:10,  3.20it/s]
539it [02:11,  3.88it/s]
540it [02:11,  3.91it/s]
541it [02:11,  3.95it/s]
542it [02:11,  4.65it/s]
543it [02:11,  5.28it/s]
544it [02:12,  4.92it/s]
545it [02:12,  4.64it/s]
546it [02:12,  5.29it/s]
547it [02:12,  5.84it/s]
548it [02:12,  5.14it/s]
549it [02:13,  4.15it/s]
550it [02:13,  4.05it/s]
551it [02:13,  3.53it/s]
552it [02:13,  4.19it/s]
553it [02:14,  4.83it/s]
554it [02:14,  5.48it/s]
555it [02:14,  5.93it/s]
556it [02:14,  5.28it/s]
557it [02:14,  4.83it/s]
558it [02:14,  4.68it/s]
559it [02:15,  5.30it/s]
560it [02:15,  4.92it/s]
561it [02:15,  5.40it/s]
562it [02:15,  5.96it/s]
563it [02:16,  3.90it/s]
564it [02:16,  4.54it/s]
565it [02:16,  3.39it/s]
566it [02:17,  3.17it/s]
567it [02:17,  3.06it/s]
568it [02:17,  3.70it/s]
569it [02:17,  4.36it/s]
570it [02:18,  2.48it/s]
571it [02:18,  3.12it/s]
572it [02:19,  2.17it/s]
573it [02:19,  2.48it/s]
574it [02:20,  2.35it/s]
575it [02:20,  2.71it/s]
576it [02:20,  3.33it/s]
577it [02:20,  3.51it/s]
578it [02:21,  3.61it/s]
579it [02:21,  3.29it/s]
580it [02:21,  3.95it/s]
581it [02:21,  4.60it/s]
582it [02:22,  3.75it/s]
583it [02:22,  3.82it/s]
584it [02:22,  4.47it/s]
585it [02:22,  4.38it/s]
586it [02:22,  4.30it/s]
587it [02:23,  4.87it/s]
588it [02:23,  4.02it/s]
589it [02:23,  3.57it/s]
590it [02:24,  3.70it/s]
591it [02:24,  4.37it/s]
592it [02:24,  3.79it/s]
593it [02:24,  3.91it/s]
594it [02:24,  4.59it/s]
595it [02:25,  4.39it/s]
596it [02:25,  5.08it/s]
597it [02:25,  4.72it/s]
598it [02:25,  5.31it/s]
599it [02:25,  4.15it/s]
600it [02:26,  4.85it/s]
601it [02:26,  4.69it/s]
602it [02:26,  5.30it/s]
603it [02:26,  5.82it/s]
604it [02:26,  5.23it/s]
605it [02:27,  4.76it/s]
606it [02:27,  5.31it/s]
607it [02:27,  5.92it/s]
608it [02:27,  5.15it/s]
609it [02:27,  4.80it/s]
610it [02:28,  4.52it/s]
611it [02:28,  5.13it/s]
612it [02:28,  5.66it/s]
613it [02:28,  6.11it/s]
614it [02:28,  6.53it/s]
615it [02:28,  5.58it/s]
616it [02:29,  5.00it/s]
617it [02:29,  4.72it/s]
618it [02:29,  5.32it/s]
619it [02:29,  5.70it/s]
620it [02:30,  4.20it/s]
621it [02:30,  4.22it/s]
622it [02:30,  4.89it/s]
623it [02:30,  5.55it/s]
624it [02:30,  4.98it/s]
625it [02:30,  5.54it/s]
626it [02:31,  4.99it/s]
627it [02:31,  4.76it/s]
628it [02:31,  3.92it/s]
629it [02:31,  3.98it/s]
630it [02:32,  4.65it/s]
631it [02:32,  4.00it/s]
632it [02:32,  4.66it/s]
633it [02:32,  5.23it/s]
634it [02:32,  4.85it/s]
635it [02:33,  5.49it/s]
636it [02:33,  4.32it/s]
637it [02:33,  4.92it/s]
638it [02:33,  4.60it/s]
639it [02:34,  4.42it/s]
640it [02:34,  4.31it/s]
641it [02:34,  4.27it/s]
642it [02:34,  4.20it/s]
643it [02:35,  4.19it/s]
644it [02:35,  4.17it/s]
645it [02:35,  4.78it/s]
646it [02:35,  5.31it/s]
647it [02:35,  5.81it/s]
648it [02:35,  5.08it/s]
649it [02:36,  3.18it/s]
650it [02:36,  3.84it/s]
651it [02:36,  4.52it/s]

QDII QDII fund

652it [02:37,  4.34it/s]
653it [02:37,  4.27it/s]
654it [02:37,  4.24it/s]
655it [02:37,  3.30it/s]
656it [02:38,  3.55it/s]
657it [02:38,  3.28it/s]
658it [02:38,  3.47it/s]
659it [02:39,  3.65it/s]
660it [02:39,  3.80it/s]
661it [02:39,  4.49it/s]
662it [02:39,  4.30it/s]
663it [02:39,  4.88it/s]
664it [02:40,  4.59it/s]
665it [02:40,  5.26it/s]
666it [02:40,  4.80it/s]
667it [02:40,  4.52it/s]
668it [02:40,  5.12it/s]
669it [02:41,  4.84it/s]
670it [02:41,  5.45it/s]
671it [02:41,  4.98it/s]
672it [02:41,  5.51it/s]
673it [02:41,  4.99it/s]
674it [02:42,  4.69it/s]
675it [02:42,  4.46it/s]
676it [02:42,  4.37it/s]
677it [02:42,  4.10it/s]
678it [02:42,  4.76it/s]
679it [02:43,  5.44it/s]
680it [02:43,  6.03it/s]
681it [02:43,  5.30it/s]
682it [02:43,  4.19it/s]
683it [02:44,  4.16it/s]
684it [02:44,  4.80it/s]
685it [02:44,  5.40it/s]
686it [02:44,  4.92it/s]
687it [02:44,  4.64it/s]
688it [02:44,  5.18it/s]
689it [02:45,  4.91it/s]
690it [02:45,  4.61it/s]
691it [02:45,  5.20it/s]
692it [02:45,  5.73it/s]
693it [02:45,  5.10it/s]
694it [02:46,  4.10it/s]
695it [02:46,  4.68it/s]
696it [02:46,  4.47it/s]
697it [02:46,  5.12it/s]
698it [02:46,  5.59it/s]
699it [02:47,  5.99it/s]
700it [02:47,  4.45it/s]
701it [02:47,  5.12it/s]
702it [02:47,  4.78it/s]
703it [02:48,  4.55it/s]
704it [02:48,  5.17it/s]
705it [02:48,  5.76it/s]
706it [02:48,  5.06it/s]
707it [02:48,  5.64it/s]
708it [02:48,  6.16it/s]
709it [02:49,  5.36it/s]
710it [02:49,  4.93it/s]
711it [02:49,  4.64it/s]
712it [02:49,  3.81it/s]
713it [02:50,  4.47it/s]
714it [02:50,  4.33it/s]
715it [02:50,  4.27it/s]
716it [02:50,  4.88it/s]
717it [02:51,  3.55it/s]
718it [02:51,  2.68it/s]
719it [02:51,  3.32it/s]
720it [02:52,  3.57it/s]
721it [02:52,  3.73it/s]
722it [02:52,  4.45it/s]
723it [02:52,  4.33it/s]
724it [02:52,  5.04it/s]
725it [02:53,  4.76it/s]
726it [02:53,  3.95it/s]
727it [02:53,  4.02it/s]
728it [02:53,  4.06it/s]
729it [02:54,  4.03it/s]
730it [02:54,  3.62it/s]
731it [02:54,  3.63it/s]
732it [02:54,  3.77it/s]
733it [02:55,  4.41it/s]
734it [02:55,  5.05it/s]
735it [02:55,  4.10it/s]
736it [02:55,  4.12it/s]
737it [02:55,  4.80it/s]
738it [02:56,  5.35it/s]
739it [02:56,  5.89it/s]
740it [02:56,  6.31it/s]
741it [02:56,  6.59it/s]
742it [02:56,  6.73it/s]
743it [02:57,  4.26it/s]
744it [02:57,  3.01it/s]
745it [02:57,  3.30it/s]
746it [02:58,  3.95it/s]
747it [02:58,  3.48it/s]
748it [02:58,  4.17it/s]
749it [02:58,  4.84it/s]
750it [02:58,  4.62it/s]
751it [02:59,  5.32it/s]
752it [02:59,  4.92it/s]
753it [02:59,  3.19it/s]
754it [02:59,  3.84it/s]
755it [03:00,  4.53it/s]
756it [03:00,  5.14it/s]
757it [03:00,  4.76it/s]
758it [03:00,  4.48it/s]
759it [03:00,  5.13it/s]
760it [03:00,  5.64it/s]
761it [03:01,  4.27it/s]
762it [03:01,  4.25it/s]
763it [03:01,  4.82it/s]
764it [03:01,  4.58it/s]
765it [03:02,  5.27it/s]
766it [03:02,  5.82it/s]
767it [03:02,  6.24it/s]
768it [03:02,  5.49it/s]
769it [03:02,  4.91it/s]
770it [03:03,  4.64it/s]
771it [03:03,  5.28it/s]
772it [03:03,  5.80it/s]
773it [03:03,  5.17it/s]
774it [03:03,  5.72it/s]
775it [03:04,  4.36it/s]
776it [03:04,  4.31it/s]
777it [03:04,  4.23it/s]
778it [03:04,  3.65it/s]
779it [03:05,  4.33it/s]
780it [03:05,  4.96it/s]
781it [03:05,  3.52it/s]
782it [03:05,  3.63it/s]
783it [03:06,  4.31it/s]
784it [03:06,  4.96it/s]
785it [03:06,  4.07it/s]
786it [03:06,  4.68it/s]
787it [03:06,  5.34it/s]
788it [03:07,  4.08it/s]
789it [03:07,  4.07it/s]
790it [03:07,  4.79it/s]
791it [03:07,  4.52it/s]
792it [03:07,  5.11it/s]
793it [03:08,  4.72it/s]
794it [03:08,  5.35it/s]
795it [03:08,  5.88it/s]
796it [03:08,  5.16it/s]
797it [03:08,  5.71it/s]
798it [03:09,  5.02it/s]
799it [03:09,  5.64it/s]
800it [03:09,  5.04it/s]
801it [03:09,  4.17it/s]
802it [03:10,  4.14it/s]
803it [03:10,  4.15it/s]
804it [03:10,  4.77it/s]
806it [03:10,  5.92it/s]

Shushan Shushan

807it [03:10,  6.24it/s]
808it [03:11,  4.56it/s]
809it [03:11,  5.21it/s]
810it [03:11,  5.71it/s]
811it [03:11,  6.20it/s]
812it [03:11,  5.29it/s]
813it [03:12,  4.12it/s]
814it [03:12,  3.21it/s]
815it [03:12,  3.42it/s]
816it [03:12,  4.13it/s]
817it [03:13,  4.82it/s]
818it [03:13,  5.46it/s]
819it [03:13,  3.04it/s]
820it [03:14,  3.30it/s]
821it [03:14,  3.95it/s]
822it [03:14,  4.59it/s]
823it [03:14,  5.21it/s]
824it [03:14,  4.74it/s]
825it [03:14,  4.50it/s]
826it [03:15,  4.41it/s]
827it [03:15,  5.07it/s]
828it [03:15,  4.76it/s]
829it [03:15,  5.33it/s]
830it [03:15,  5.87it/s]
831it [03:15,  6.29it/s]
832it [03:16,  6.66it/s]
833it [03:16,  6.95it/s]
834it [03:16,  5.79it/s]
835it [03:16,  4.24it/s]

In [142]:
# save resulting assignments and assign to new column in category_df
res = [[ i for i, j in category_assigns ], 
       [ j for i, j in category_assigns ]] 
category_df['general_category'] = res[1]

In [145]:
category_df.head()

                        labels               revised_labels general_category
0  Maternal and child supplies  Maternal and child supplies           family
1    Outlaws of the Marsh game                         game    entertainment
2                       Living                       Living           family
3         convenience services         convenience services         shopping
4                  game-Racing                         game    entertainment

In [149]:
# merge the new information into the original label_categories dataframe
label_categories.rename(columns = {'category': 'labels'}, inplace=True)
label_categories = label_categories.merge(category_df[['labels','general_category']], on='labels', how='outer')
label_categories.fillna(value={'general_category': 'other'}, inplace=True)
label_categories[label_categories.labels.isna()]

In [163]:
# merge the new information into a new dataframe with app_ids 
app_categories = app_labels.merge(label_categories[['label_id','general_category']], on='label_id')

In [170]:
app_categories.head()

                app_id  label_id general_category
0  7324884708820027918       251          finance
1 -4494216993218550286       251          finance
2  8756705988821000489       251          finance
3  1061207043315821111       251          finance
4 -1491198667294647703       251          finance

# Creating a reference table that gathers the informations in the multiples tables

Merge the tables into one general table so we can access the data more easily

In [13]:
complete_ref_table = app_events
complete_ref_table = complete_ref_table.merge(app_labels, on = "app_id")
complete_ref_table = complete_ref_table.merge(label_categories, on = "label_id")
del complete_ref_table['is_installed']  # I dont think is_installed adds any information
complete_ref_table = complete_ref_table.merge(events, on="event_id")
complete_ref_table = complete_ref_table.merge(brand_df, on="device_id")
complete_ref_table = complete_ref_table[["event_id", "app_id", "label_id", "category", "device_id", "phone_brand", "device_model", "timestamp", "longitude", "latitude", "is_active"]]

display(complete_ref_table.head())

,event_id,app_id,label_id,category,device_id,phone_brand,device_model,timestamp,longitude,latitude,is_active
0,2,5927333115845830913,549,Property Industry 1.0,-6401643145415154744,三星,Galaxy Grand Prime,2016-05-01 00:54:12,103.65,30.97,1
1,2,8693964245073640147,549,Property Industry 1.0,-6401643145415154744,三星,Galaxy Grand Prime,2016-05-01 00:54:12,103.65,30.97,1
2,2,4775896950989639373,549,Property Industry 1.0,-6401643145415154744,三星,Galaxy Grand Prime,2016-05-01 00:54:12,103.65,30.97,1
3,2,-8022267440849930066,549,Property Industry 1.0,-6401643145415154744,三星,Galaxy Grand Prime,2016-05-01 00:54:12,103.65,30.97,0
4,2,9112463267739110219,549,Property Industry 1.0,-6401643145415154744,三星,Galaxy Grand Prime,2016-05-01 00:54:12,103.65,30.97,0

# Creating training set

Once we have this reference table we can build our training set, assigning to every entry of that table the corresponding age and gender for the user

In [14]:
# Build training set
train_set = (complete_ref_table.merge(gender_age_train, on="device_id")).head(3500000)
test_set = complete_ref_table.merge(gender_age_train, on="device_id").tail(200000)
test_set.head()

,event_id,app_id,label_id,category,device_id,phone_brand,device_model,timestamp,longitude,latitude,is_active,gender,age,group
2294132,69857,33792862810792679,252,Wealth Management,-8649941211508968787,小米,红米,2016-05-04 00:20:57,0.0,0.0,1,M,62,M39+
2294133,69857,3683147815759994238,252,Wealth Management,-8649941211508968787,小米,红米,2016-05-04 00:20:57,0.0,0.0,1,M,62,M39+
2294134,69857,6965654211116534216,252,Wealth Management,-8649941211508968787,小米,红米,2016-05-04 00:20:57,0.0,0.0,0,M,62,M39+
2294135,69857,6965654211116534216,761,Financial Services,-8649941211508968787,小米,红米,2016-05-04 00:20:57,0.0,0.0,0,M,62,M39+
2294136,69857,502665604573257504,761,Financial Services,-8649941211508968787,小米,红米,2016-05-04 00:20:57,0.0,0.0,1,M,62,M39+